In [1]:
import pandas as pd
import sqlalchemy
import pgspecial

import itertools
import datetime
from dateutil.rrule import rrule, MONTHLY

In [2]:
%load_ext sql

In [3]:
db_connect = "benj@localhost/olist"
connectStr =  f"postgresql://{db_connect}"
%sql $connectStr

'Connected: benj@olist'

# Exploration db

Nombre de clients dans la base

In [4]:
%%sql
select count(distinct customer_unique_id) from customers

 * postgresql://benj@localhost/olist
1 rows affected.

[(96096,)]

In [5]:
nb_orders = %sql select count(*) from orders;
nb_t_id = %sql select count(*) from ( select distinct order_id,customer_id  from orders) t; 
print(f'{nb_orders} {nb_t_id}')

 * postgresql://benj@localhost/olist
1 rows affected.
 * postgresql://benj@localhost/olist
1 rows affected.
+-------+
| count |
+-------+
| 99441 |
+-------+ +-------+
| count |
+-------+
| 99441 |
+-------+

Status des commandes

In [6]:
%sql select distinct order_status,count(*) from orders group by order_status

 * postgresql://benj@localhost/olist
8 rows affected.

[('approved', 2),
 ('canceled', 625),
 ('created', 5),
 ('delivered', 96478),
 ('invoiced', 314),
 ('processing', 301),
 ('shipped', 1107),
 ('unavailable', 609)]

Toutes les commandes ont au moins un paiement associé ?

In [7]:
%%sql 
select distinct order_status,count(*) from orders o where
not exists (select 1 from order_payments pa where pa.order_id = o.order_id)
group by order_status

 * postgresql://benj@localhost/olist
1 rows affected.

[('delivered', 1)]

Les différrents types de paiement

In [8]:
%%sql
select distinct payment_type,count(*) from order_payments
group by payment_type

 * postgresql://benj@localhost/olist
5 rows affected.

[('boleto', 19784),
 ('credit_card', 76795),
 ('debit_card', 1529),
 ('not_defined', 3),
 ('voucher', 5775)]

Payment en plusieurs versements = payment_installments

Les paiments avec des bons et en liquide se font en une fois.

In [9]:
%%sql
select distinct payment_installments,payment_type,count(*) from order_payments
where payment_type in ('voucher','boleto')
group by payment_installments,payment_type

 * postgresql://benj@localhost/olist
2 rows affected.

[(1, 'voucher', 5775), (1, 'boleto', 19784)]

Les paiements d'une commande peuvent se faire avec plusieurs modes de paiement; chaque type de paiement se voit attribué un numéro de séquence

In [10]:
%%sql
select * from order_payments 
where order_id = (select distinct order_id from order_payments where payment_sequential = (select max(payment_sequential) from order_payments LIMIT 1) LIMIT 1)
order by payment_sequential

 * postgresql://benj@localhost/olist
29 rows affected.

[('fa65dad1b0e818e3ccc5cb0e39231352', 1, 'voucher', 1, 3.71, 14322),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 2, 'voucher', 1, 8.51, 23075),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 3, 'voucher', 1, 2.95, 65642),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 4, 'voucher', 1, 29.16, 9986),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 5, 'voucher', 1, 0.66, 28331),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 6, 'voucher', 1, 5.02, 29649),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 7, 'voucher', 1, 0.32, 82594),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 8, 'voucher', 1, 26.02, 68854),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 9, 'voucher', 1, 1.08, 17275),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 10, 'voucher', 1, 12.86, 19566),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 11, 'voucher', 1, 4.03, 32520),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 12, 'voucher', 1, 3.6, 73538),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 13, 'voucher', 1, 0.0, 77886),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 14, 'voucher', 1, 0.0, 36823),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 15, 'voucher', 1, 14.04, 63370),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 16, 'voucher', 1, 12.86, 78051),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 17, 'voucher', 1, 3.72, 79671),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 18, 'voucher', 1, 0.73, 80322),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 19, 'voucher', 1, 5.02, 74722),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 20, 'voucher', 1, 150.0, 93338),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 21, 'voucher', 1, 4.11, 74240),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 22, 'voucher', 1, 4.03, 100607),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 23, 'voucher', 1, 18.86, 85167),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 24, 'voucher', 1, 0.42, 99214),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 25, 'voucher', 1, 3.68, 24880),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 26, 'voucher', 1, 28.27, 79588),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 27, 'voucher', 1, 66.02, 4886),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 28, 'voucher', 1, 29.05, 39112),
 ('fa65dad1b0e818e3ccc5cb0e39231352', 29, 'voucher', 1, 19.26, 39109)]

Nombre de paiements par voucher

In [11]:
%%sql
select count(*) from customers c
join orders o on c.customer_id = o.customer_id
join order_payments pa on pa.order_id = o.order_id
where pa.payment_type = 'voucher'

 * postgresql://benj@localhost/olist
1 rows affected.

[(5775,)]

Nombre de commandes sans commentaires

In [12]:
%%sql
select count(distinct order_id) from orders o
where not exists(select 1 from order_reviews r where r.order_id = o.order_id)

 * postgresql://benj@localhost/olist
1 rows affected.

[(768,)]

In [13]:
order_dates = %sql select date_trunc('day',min(order_delivered_customer_date)),date_trunc('day',max(order_delivered_customer_date)) + INTERVAL '1 day' from ordersa
print(f'order_dates: \n{order_dates}')
review_dates = %sql select min(review_creation_date),max(review_creation_date) from order_reviews
print(f'review_dates: \n{review_dates}')

 * postgresql://benj@localhost/olist
(psycopg2.errors.UndefinedTable) relation "ordersa" does not exist
LINE 1: ...er_delivered_customer_date)) + INTERVAL '1 day' from ordersa
                                                                ^

[SQL: select date_trunc('day',min(order_delivered_customer_date)),date_trunc('day',max(order_delivered_customer_date)) + INTERVAL '1 day' from ordersa]
(Background on this error at: https://sqlalche.me/e/14/f405)
order_dates:
None
 * postgresql://benj@localhost/olist
1 rows affected.
review_dates:
+---------------------+---------------------+
|         min         |         max         |
+---------------------+---------------------+
| 2016-10-02 00:00:00 | 2018-08-31 00:00:00 |
+---------------------+---------------------+

Nombre de dates de livraison en foncttion du statut de la commande

In [14]:
%%sql 
select count( distinct order_delivered_customer_date),order_status,count(*) from orders group by order_status

 * postgresql://benj@localhost/olist
8 rows affected.

[(0, 'approved', 2),
 (6, 'canceled', 625),
 (0, 'created', 5),
 (95658, 'delivered', 96478),
 (0, 'invoiced', 314),
 (0, 'processing', 301),
 (0, 'shipped', 1107),
 (0, 'unavailable', 609)]

Ordres annulés

In [15]:
%%sql
select distinct order_purchase_timestamp,order_approved_at,order_delivered_customer_date from orders where order_status = 'canceled'

 * postgresql://benj@localhost/olist
625 rows affected.

[(datetime.datetime(2016, 9, 5, 0, 15, 34), '2016-10-07 13:17:15', None),
 (datetime.datetime(2016, 9, 13, 15, 24, 19), '2016-10-07 13:16:46', None),
 (datetime.datetime(2016, 10, 2, 22, 7, 52), '2016-10-06 15:50:56', None),
 (datetime.datetime(2016, 10, 3, 21, 1, 41), '2016-10-04 10:18:57', datetime.datetime(2016, 11, 8, 10, 58, 34)),
 (datetime.datetime(2016, 10, 4, 10, 5, 45), '2016-10-04 10:26:40', None),
 (datetime.datetime(2016, 10, 4, 11, 44, 1), '2016-10-05 08:45:09', None),
 (datetime.datetime(2016, 10, 4, 14, 51, 15), '2016-10-06 15:56:40', None),
 (datetime.datetime(2016, 10, 4, 19, 41, 32), None, None),
 (datetime.datetime(2016, 10, 4, 20, 41, 45), '2016-10-06 15:57:38', None),
 (datetime.datetime(2016, 10, 5, 11, 23, 13), None, None),
 (datetime.datetime(2016, 10, 5, 22, 49, 57), '2016-10-06 15:54:47', None),
 (datetime.datetime(2016, 10, 6, 13, 21, 5), None, None),
 (datetime.datetime(2016, 10, 6, 13, 24, 15), '2016-10-07 10:16:33', None),
 (datetime.datetime(2016, 10, 6, 20, 43, 30), None, None),
 (datetime.datetime(2016, 10, 7, 12, 21, 7), None, None),
 (datetime.datetime(2016, 10, 7, 14, 52, 30), '2016-10-07 15:07:10', datetime.datetime(2016, 10, 14, 15, 7, 11)),
 (datetime.datetime(2016, 10, 8, 7, 2, 33), '2016-10-18 15:19:10', None),
 (datetime.datetime(2016, 10, 8, 12, 44, 32), '2016-10-18 15:19:08', None),
 (datetime.datetime(2016, 10, 8, 20, 17, 50), '2016-10-09 14:34:30', datetime.datetime(2016, 10, 19, 18, 47, 43)),
 (datetime.datetime(2016, 10, 9, 0, 56, 52), '2016-10-09 13:36:58', datetime.datetime(2016, 10, 16, 14, 36, 59)),
 (datetime.datetime(2016, 10, 9, 11, 23, 21), '2016-10-10 08:35:12', None),
 (datetime.datetime(2016, 10, 9, 12, 43, 21), '2016-10-11 17:16:27', None),
 (datetime.datetime(2016, 10, 9, 15, 39, 56), '2016-10-10 10:40:49', datetime.datetime(2016, 11, 9, 14, 53, 50)),
 (datetime.datetime(2016, 10, 10, 9, 51, 13), '2016-10-18 15:19:11', None),
 (datetime.datetime(2016, 10, 10, 10, 49, 54), '2016-10-10 12:01:56', None),
 (datetime.datetime(2016, 10, 22, 8, 25, 27), None, None),
 (datetime.datetime(2017, 1, 11, 18, 32, 24), '2017-01-11 18:45:23', None),
 (datetime.datetime(2017, 1, 13, 11, 6, 56), None, None),
 (datetime.datetime(2017, 1, 26, 23, 11, 32), '2017-01-28 10:33:06', None),
 (datetime.datetime(2017, 2, 1, 17, 31, 17), '2017-02-09 14:43:11', None),
 (datetime.datetime(2017, 2, 3, 0, 55, 24), None, None),
 (datetime.datetime(2017, 2, 3, 1, 3, 44), None, None),
 (datetime.datetime(2017, 2, 3, 11, 31, 48), '2017-02-03 11:45:09', None),
 (datetime.datetime(2017, 2, 7, 15, 25, 41), '2017-02-07 16:30:10', None),
 (datetime.datetime(2017, 2, 8, 0, 53, 19), '2017-02-08 01:05:12', None),
 (datetime.datetime(2017, 2, 10, 0, 58, 1), '2017-02-10 01:05:27', None),
 (datetime.datetime(2017, 2, 12, 13, 41, 41), '2017-02-12 13:50:20', None),
 (datetime.datetime(2017, 2, 13, 17, 17, 36), '2017-02-13 17:30:17', None),
 (datetime.datetime(2017, 2, 16, 11, 29, 8), '2017-02-18 11:25:14', None),
 (datetime.datetime(2017, 2, 16, 12, 33, 56), '2017-02-16 13:10:59', None),
 (datetime.datetime(2017, 2, 20, 11, 29, 19), '2017-02-22 03:22:35', None),
 (datetime.datetime(2017, 2, 22, 10, 45, 45), '2017-02-22 10:55:19', None),
 (datetime.datetime(2017, 2, 22, 16, 10, 31), '2017-02-22 16:22:22', None),
 (datetime.datetime(2017, 2, 22, 19, 36, 22), '2017-02-22 19:50:20', None),
 (datetime.datetime(2017, 2, 27, 22, 23, 36), '2017-02-27 22:32:39', None),
 (datetime.datetime(2017, 2, 28, 21, 49, 29), '2017-02-28 22:01:44', None),
 (datetime.datetime(2017, 3, 1, 11, 26, 37), '2017-03-02 11:30:21', None),
 (datetime.datetime(2017, 3, 4, 12, 14, 30), None, None),
 (datetime.datetime(2017, 3, 4, 16, 23, 16), '2017-03-04 16:35:13', None),
 (datetime.datetime(2017, 3, 5, 1, 3, 51), '2017-03-05 01:15:09', None),
 (datetime.datetime(2017, 3, 5, 19, 39, 34), '2017-03-05 19:50:09', None),
 (datetime.datetime(2017, 3, 6, 20, 51, 57), '2017-03-06 21:03:03', None),
 (datetime.datetime(2017, 3, 7, 12, 43, 3), '2017-03-07 13:04:43', None),
 (datetime.datetime(2017, 3, 8, 11, 51, 41), '2017-03-08 12:33:15', None),
 (datetime.datetime(2017, 3, 10, 13, 52, 2), '2017-03-10 13:52:02', None),
 (datetime.datetime(2017, 3, 10, 22, 49, 47), '2017-03-10 22:49:47', None),
 (datetime.datetime(2017, 3, 11, 19, 51, 36), '2017-03-11 19:51:36', None),
 (datetime.datetime(2017, 3, 12, 21, 28, 55), '2017-03-12 21:28:55', None),
 (datetime.datetime(2017, 3, 13, 6, 3, 37), '2017-03-13 06:03:37', None),
 (datetime.datetime(2017, 3, 13, 16, 12, 24), '2017-03-13 16:12:24', None),
 (datetime.datetime(2017, 3, 13, 20, 30, 13), '2017-03-13 20:30:13', None),
 (datetime.datetime(2017, 3, 14, 9, 27, 8), '2017-03-14 09:27:08', None),
 (datetime.datetime(2017, 3, 16, 2, 30, 51), '2017-03-16 02:30:51', None),
 (datetime.datetime(2017, 3, 20, 8, 0, 14), '2017-03-20 08:00:14', None),
 (datetime.datetime(2017, 3, 20, 14, 44, 16), '2017-03-20 14:44:16', None),
 (datetime.datetime(2017, 3, 20, 19, 36, 51), '2017-03-20 19:36:51', None),
 (datetime.datetime(2017, 3, 20, 19, 38, 10), '2017-03-20 19:38:10', None),
 (datetime.datetime(2017, 3, 21, 14, 45, 36), '2017-03-21 14:45:36', None),
 (datetime.datetime(2017, 3, 21, 19, 17, 48), '2017-03-21 19:17:48', None),
 (datetime.datetime(2017, 3, 21, 20, 20, 14), '2017-03-21 20:20:14', None),
 (datetime.datetime(2017, 3, 21, 21, 16, 22), '2017-03-21 21:16:22', None),
 (datetime.datetime(2017, 3, 23, 17, 21, 23), '2017-03-23 18:23:19', None),
 (datetime.datetime(2017, 3, 24, 0, 24, 17), '2017-03-24 01:23:01', None),
 (datetime.datetime(2017, 3, 25, 5, 12, 19), '2017-03-25 06:25:10', None),
 (datetime.datetime(2017, 3, 27, 8, 24, 3), '2017-03-27 08:24:03', None),
 (datetime.datetime(2017, 3, 28, 7, 27, 16), '2017-03-28 07:35:12', None),
 (datetime.datetime(2017, 3, 28, 13, 53, 4), '2017-03-28 14:05:18', None),
 (datetime.datetime(2017, 3, 28, 20, 53, 24), None, None),
 (datetime.datetime(2017, 3, 29, 19, 56, 47), '2017-03-29 20:10:17', None),
 (datetime.datetime(2017, 4, 7, 21, 12, 31), '2017-04-07 21:25:08', None),
 (datetime.datetime(2017, 4, 9, 11, 42, 18), '2017-04-11 03:45:22', None),
 (datetime.datetime(2017, 4, 9, 13, 58, 55), '2017-04-09 14:15:06', None),
 (datetime.datetime(2017, 4, 10, 0, 45, 56), '2017-04-10 01:03:29', None),
 (datetime.datetime(2017, 4, 12, 11, 23, 1), '2017-04-12 11:30:25', None),
 (datetime.datetime(2017, 4, 14, 16, 11, 3), '2017-04-14 16:21:55', None),
 (datetime.datetime(2017, 4, 14, 19, 5, 5), None, None),
 (datetime.datetime(2017, 4, 14, 22, 40, 54), '2017-05-13 02:45:06', None),
 (datetime.datetime(2017, 4, 17, 18, 22, 4), '2017-04-19 10:25:13', None),
 (datetime.datetime(2017, 4, 20, 14, 54, 24), None, None),
 (datetime.datetime(2017, 4, 21, 16, 9, 18), '2017-04-21 16:21:30', None),
 (datetime.datetime(2017, 4, 23, 12, 1, 53), '2017-04-23 12:10:32', None),
 (datetime.datetime(2017, 4, 23, 14, 58, 37), None, None),
 (datetime.datetime(2017, 4, 24, 9, 51, 21), '2017-04-25 08:03:06', None),
 (datetime.datetime(2017, 4, 26, 21, 43, 55), '2017-04-27 16:22:52', None),
 (datetime.datetime(2017, 4, 26, 22, 38, 50), '2017-04-27 01:15:17', None),
 (datetime.datetime(2017, 4, 27, 12, 57, 53), None, None),
 (datetime.datetime(2017, 4, 27, 18, 28, 20), '2017-04-29 02:45:43', None),
 (datetime.datetime(2017, 5, 1, 16, 12, 39), None, None),
 (datetime.datetime(2017, 5, 2, 7, 34, 35), None, None),
 (datetime.datetime(2017, 5, 2, 17, 51, 28), None, None),
 (datetime.datetime(2017, 5, 3, 23, 23, 55), None, None),
 (datetime.datetime(2017, 5, 9, 21, 42, 43), '2017-05-09 21:55:20', None),
 (datetime.datetime(2017, 5, 10, 11, 52, 51), None, None),
 (datetime.datetime(2017, 5, 12, 10, 11, 53), '2017-05-12 10:25:08', None),
 (datetime.datetime(2017, 5, 12, 10, 28, 30), '2017-05-12 10:42:45', None),
 (datetime.datetime(2017, 5, 12, 18, 9, 7), '2017-05-12 18:15:18', None),
 (datetime.datetime(2017, 5, 13, 20, 6, 13), '2017-05-13 20:22:40', None),
 (datetime.datetime(2017, 5, 14, 0, 32, 26), '2017-05-14 01:10:24', None),
 (datetime.datetime(2017, 5, 14, 21, 16, 54), '2017-05-16 03:30:32', None),
 (datetime.datetime(2017, 5, 15, 9, 6, 16), '2017-05-15 09:15:17', None),
 (datetime.datetime(2017, 5, 16, 22, 17), '2017-05-16 22:25:13', None),
 (datetime.datetime(2017, 5, 17, 15, 46, 6), '2017-05-17 16:02:33', None),
 (datetime.datetime(2017, 5, 23, 17, 14, 58), '2017-05-23 17:25:20', None),
 (datetime.datetime(2017, 5, 25, 13, 7, 50), '2017-05-25 13:22:31', None),
 (datetime.datetime(2017, 5, 25, 16, 12, 51), None, None),
 (datetime.datetime(2017, 5, 26, 12, 42, 13), None, None),
 (datetime.datetime(2017, 5, 27, 15, 33, 4), '2017-05-27 15:45:12', None),
 (datetime.datetime(2017, 5, 27, 22, 42, 30), None, None),
 (datetime.datetime(2017, 5, 27, 22, 45, 48), '2017-05-27 23:02:27', None),
 (datetime.datetime(2017, 5, 29, 18, 10, 6), '2017-05-31 07:02:46', None),
 (datetime.datetime(2017, 5, 29, 23, 53, 39), None, None),
 (datetime.datetime(2017, 5, 30, 10, 54, 45), '2017-05-30 11:10:14', None),
 (datetime.datetime(2017, 5, 30, 11, 43, 14), '2017-05-30 13:08:11', None),
 (datetime.datetime(2017, 5, 31, 8, 57, 32), '2017-06-01 03:55:31', None),
 (datetime.datetime(2017, 5, 31, 13, 21, 35), '2017-06-01 13:35:20', None),
 (datetime.datetime(2017, 5, 31, 19, 2, 28), '2017-05-31 19:15:20', None),
 (datetime.datetime(2017, 6, 5, 21, 20, 51), '2017-06-05 21:30:13', None),
 (datetime.datetime(2017, 6, 6, 20, 31, 46), None, None),
 (datetime.datetime(2017, 6, 7, 20, 11, 29), None, None),
 (datetime.datetime(2017, 6, 9, 10, 16, 21), None, None),
 (datetime.datetime(2017, 6, 13, 21, 10, 5), '2017-06-13 21:22:35', None),
 (datetime.datetime(2017, 6, 15, 17, 34, 29), '2017-06-15 17:45:18', None),
 (datetime.datetime(2017, 6, 15, 22, 25, 11), '2017-06-17 03:26:40', None),
 (datetime.datetime(2017, 6, 16, 15, 39, 20), '2017-06-16 15:50:22', None),
 (datetime.datetime(2017, 6, 16, 17, 21, 21), '2017-06-16 17:30:16', None),
 (datetime.datetime(2017, 6, 18, 13, 48, 48), '2017-06-18 13:55:18', None),
 (datetime.datetime(2017, 6, 18, 17, 22, 9), '2017-06-18 17:35:24', None),
 (datetime.datetime(2017, 6, 19, 14, 7, 4), '2017-06-19 14:23:18', None),
 (datetime.datetime(2017, 6, 20, 12, 39, 25), None, None),
 (datetime.datetime(2017, 6, 22, 17, 52, 25), '2017-06-23 18:03:43', None),
 (datetime.datetime(2017, 6, 22, 19, 53, 9), '2017-06-22 20:05:23', None),
 (datetime.datetime(2017, 6, 23, 1, 15, 59), '2017-06-23 01:30:08', None),
 (datetime.datetime(2017, 7, 2, 15, 38, 46), None, None),
 (datetime.datetime(2017, 7, 2, 21, 36, 22), '2017-07-04 04:50:25', None),
 (datetime.datetime(2017, 7, 3, 9, 43, 13), '2017-07-03 09:55:19', None),
 (datetime.datetime(2017, 7, 5, 21, 47, 36), '2017-07-05 22:03:30', None),
 (datetime.datetime(2017, 7, 5, 21, 56, 9), None, None),
 (datetime.datetime(2017, 7, 7, 12, 15, 50), '2017-07-07 12:25:20', None),
 (datetime.datetime(2017, 7, 9, 9, 18, 56), '2017-07-09 09:30:10', None),
 (datetime.datetime(2017, 7, 9, 15, 38, 45), None, None),
 (datetime.datetime(2017, 7, 9, 18, 18, 3), '2017-07-11 03:55:28', None),
 (datetime.datetime(2017, 7, 11, 12, 51, 3), '2017-07-12 02:24:54', None),
 (datetime.datetime(2017, 7, 12, 18, 10, 14), '2017-07-12 18:25:16', None),
 (datetime.datetime(2017, 7, 12, 18, 10, 57), '2017-07-12 18:25:20', None),
 (datetime.datetime(2017, 7, 13, 18, 10, 28), '2017-07-13 18:25:09', None),
 (datetime.datetime(2017, 7, 16, 10, 46, 54), '2017-07-16 11:02:54', None),
 (datetime.datetime(2017, 7, 16, 21, 59, 33), None, None),
 (datetime.datetime(2017, 7, 20, 14, 32, 34), '2017-07-20 14:45:19', None),
 (datetime.datetime(2017, 7, 21, 12, 54, 47), '2017-07-21 13:05:19', None),
 (datetime.datetime(2017, 7, 24, 11, 38, 43), '2017-07-24 11:50:18', None),
 (datetime.datetime(2017, 7, 24, 12, 52, 27), '2017-07-24 13:05:20', None),
 (datetime.datetime(2017, 7, 24, 13, 22, 29), '2017-07-27 10:10:15', None),
 (datetime.datetime(2017, 7, 25, 1, 55, 52), '2017-07-25 02:05:23', None),
 (datetime.datetime(2017, 7, 25, 10, 11, 21), '2017-07-26 20:45:57', None),
 (datetime.datetime(2017, 7, 25, 19, 26, 15), None, None),
 (datetime.datetime(2017, 7, 26, 13, 39, 14), '2017-07-26 13:50:21', None),
 (datetime.datetime(2017, 7, 26, 17, 6, 2), '2017-07-28 08:35:36', None),
 (datetime.datetime(2017, 7, 29, 12, 56, 17), '2017-07-29 13:05:18', None),
 (datetime.datetime(2017, 7, 31, 16, 5, 8), '2017-07-31 16:23:27', None),
 (datetime.datetime(2017, 7, 31, 16, 37, 31), '2017-07-31 16:50:17', None),
 (datetime.datetime(2017, 8, 2, 14, 8, 18), '2017-08-02 14:23:13', None),
 (datetime.datetime(2017, 8, 2, 17, 56, 11), '2017-08-02 18:10:16', None),
 (datetime.datetime(2017, 8, 2, 19, 21, 7), '2017-08-04 02:24:05', None),
 (datetime.datetime(2017, 8, 3, 11, 1, 10), None, None),
 (datetime.datetime(2017, 8, 3, 19, 4, 35), '2017-08-03 19:15:23', None),
 (datetime.datetime(2017, 8, 5, 16, 11, 14), '2017-08-05 16:25:16', None),
 (datetime.datetime(2017, 8, 9, 12, 56, 51), '2017-08-09 13:10:13', None),
 (datetime.datetime(2017, 8, 10, 9, 31, 59), '2017-08-11 04:25:38', None),
 (datetime.datetime(2017, 8, 11, 13, 17, 36), '2017-08-12 02:45:20', None),
 (datetime.datetime(2017, 8, 12, 14, 1, 23), '2017-08-12 14:15:18', None),
 (datetime.datetime(2017, 8, 12, 19, 53, 24), '2017-08-13 20:05:21', None),
 (datetime.datetime(2017, 8, 13, 22, 24, 19), '2017-08-14 22:45:11', None),
 (datetime.datetime(2017, 8, 14, 10, 44, 51), '2017-08-14 10:55:16', None),
 (datetime.datetime(2017, 8, 14, 22, 13, 14), '2017-08-16 03:25:03', None),
 (datetime.datetime(2017, 8, 16, 16, 15, 31), '2017-08-18 02:16:03', None),
 (datetime.datetime(2017, 8, 16, 20, 51, 24), '2017-08-17 02:45:20', None),
 (datetime.datetime(2017, 8, 16, 21, 32, 48), '2017-08-19 10:04:56', None),
 (datetime.datetime(2017, 8, 17, 13, 20, 41), None, None),
 (datetime.datetime(2017, 8, 18, 14, 30, 19), None, None),
 (datetime.datetime(2017, 8, 19, 19, 8, 26), '2017-08-19 19:24:32', None),
 (datetime.datetime(2017, 8, 22, 9, 50, 59), None, None),
 (datetime.datetime(2017, 8, 25, 0, 21, 59), '2017-08-25 00:30:14', None),
 (datetime.datetime(2017, 8, 25, 19, 10, 57), '2017-08-29 04:26:12', None),
 (datetime.datetime(2017, 8, 28, 14, 56, 13), '2017-08-29 05:32:52', None),
 (datetime.datetime(2017, 8, 30, 16, 5, 34), '2017-08-30 16:15:23', None),
 (datetime.datetime(2017, 8, 30, 18, 48, 1), None, None),
 (datetime.datetime(2017, 8, 31, 23, 55, 57), None, None),
 (datetime.datetime(2017, 9, 1, 22, 43, 44), '2017-09-01 22:55:23', None),
 (datetime.datetime(2017, 9, 3, 14, 54, 11), '2017-09-03 15:10:10', None),
 (datetime.datetime(2017, 9, 6, 16, 23, 33), '2017-09-06 16:37:13', None),
 (datetime.datetime(2017, 9, 8, 11, 19, 9), '2017-09-09 04:45:14', None),
 (datetime.datetime(2017, 9, 10, 16, 41, 44), '2017-09-12 07:50:19', None),
 (datetime.datetime(2017, 9, 11, 20, 7, 36), '2017-09-11 20:23:37', None),
 (datetime.datetime(2017, 9, 12, 19, 17, 3), '2017-09-12 19:30:24', None),
 (datetime.datetime(2017, 9, 12, 22, 36, 4), None, None),
 (datetime.datetime(2017, 9, 13, 20, 38), '2017-09-13 20:50:12', None),
 (datetime.datetime(2017, 9, 15, 9, 29, 20), '2017-09-19 03:37:51', None),
 (datetime.datetime(2017, 9, 15, 15, 51, 13), '2017-09-16 16:04:25', None),
 (datetime.datetime(2017, 9, 16, 14, 24, 39), '2017-09-16 14:35:25', None),
 (datetime.datetime(2017, 9, 16, 21, 43, 2), '2017-09-16 21:55:07', None),
 (datetime.datetime(2017, 9, 22, 21, 15, 18), '2017-09-26 03:49:17', None),
 (datetime.datetime(2017, 9, 23, 6, 23, 19), '2017-09-23 07:00:06', None),
 (datetime.datetime(2017, 9, 24, 10, 24, 7), '2017-09-24 10:44:05', None),
 (datetime.datetime(2017, 9, 24, 18, 32, 25), None, None),
 (datetime.datetime(2017, 9, 25, 20, 16, 38), '2017-09-25 20:28:20', None),
 (datetime.datetime(2017, 9, 27, 20, 3, 11), None, None),
 (datetime.datetime(2017, 9, 28, 15, 2, 56), None, None),
 (datetime.datetime(2017, 10, 1, 8, 15, 15), '2017-10-01 08:28:14', None),
 (datetime.datetime(2017, 10, 1, 22, 26, 25), '2017-10-01 22:35:22', None),
 (datetime.datetime(2017, 10, 5, 11, 39, 7), '2017-10-06 02:07:18', None),
 (datetime.datetime(2017, 10, 6, 21, 54, 55), '2017-10-06 22:07:19', None),
 (datetime.datetime(2017, 10, 7, 17, 31, 53), '2017-10-07 17:49:22', None),
 (datetime.datetime(2017, 10, 9, 6, 6, 44), '2017-10-09 07:12:04', None),
 (datetime.datetime(2017, 10, 9, 15, 46, 7), '2017-10-10 20:49:37', None),
 (datetime.datetime(2017, 10, 10, 14, 7, 52), '2017-10-10 14:41:31', None),
 (datetime.datetime(2017, 10, 10, 20, 21, 14), '2017-10-10 20:35:15', None),
 (datetime.datetime(2017, 10, 12, 8, 39, 30), '2017-10-12 09:06:26', None),
 (datetime.datetime(2017, 10, 12, 11, 49, 29), '2017-10-14 03:56:25', None),
 (datetime.datetime(2017, 10, 14, 10, 36, 31), '2017-10-15 10:49:16', None),
 (datetime.datetime(2017, 10, 16, 9, 9, 13), None, None),
 (datetime.datetime(2017, 10, 20, 12, 42, 26), None, None),
 (datetime.datetime(2017, 10, 20, 16, 14, 6), '2017-10-20 16:32:34', None),
 (datetime.datetime(2017, 10, 20, 19, 35, 47), None, None),
 (datetime.datetime(2017, 10, 21, 11, 8, 42), '2017-10-21 11:21:20', None),
 (datetime.datetime(2017, 10, 21, 17, 39, 23), '2017-10-21 17:49:28', None),
 (datetime.datetime(2017, 10, 22, 14, 0, 34), '2017-10-22 14:14:21', None),
 (datetime.datetime(2017, 10, 23, 16, 31, 25), '2017-10-23 16:46:27', None),
 (datetime.datetime(2017, 10, 24, 20, 14, 53), '2017-10-25 02:26:16', None),
 (datetime.datetime(2017, 10, 26, 21, 33, 43), '2017-10-26 21:46:43', None),
 (datetime.datetime(2017, 10, 28, 11, 18, 48), None, None),
 (datetime.datetime(2017, 10, 29, 16, 25, 52), '2017-10-30 16:31:24', None),
 (datetime.datetime(2017, 10, 29, 18, 2, 37), None, None),
 (datetime.datetime(2017, 10, 30, 12, 17, 51), '2017-10-30 12:30:23', None),
 (datetime.datetime(2017, 11, 2, 18, 11, 24), '2017-11-04 05:05:32', None),
 (datetime.datetime(2017, 11, 2, 23, 12, 48), '2017-11-02 23:30:48', None),
 (datetime.datetime(2017, 11, 5, 13, 58, 19), None, None),
 (datetime.datetime(2017, 11, 5, 17, 40, 4), '2017-11-05 17:50:55', None),
 (datetime.datetime(2017, 11, 6, 9, 5, 48), '2017-11-06 09:26:38', None),
 (datetime.datetime(2017, 11, 6, 15, 47, 20), '2017-11-07 07:30:29', None),
 (datetime.datetime(2017, 11, 6, 18, 16, 33), '2017-11-07 03:31:09', None),
 (datetime.datetime(2017, 11, 6, 21, 2, 18), '2017-11-07 04:32:12', None),
 (datetime.datetime(2017, 11, 8, 0, 11, 54), '2017-11-08 01:26:29', None),
 (datetime.datetime(2017, 11, 8, 18, 40, 21), None, None),
 (datetime.datetime(2017, 11, 9, 6, 13, 41), '2017-11-10 06:10:31', None),
 (datetime.datetime(2017, 11, 9, 12, 11, 56), '2017-11-09 12:31:22', None),
 (datetime.datetime(2017, 11, 9, 17, 38, 45), None, None),
 (datetime.datetime(2017, 11, 10, 1, 45, 4), None, None),
 (datetime.datetime(2017, 11, 10, 14, 3, 51), '2017-11-11 02:55:43', None),
 (datetime.datetime(2017, 11, 11, 10, 44, 49), '2017-11-11 10:55:28', None),
 (datetime.datetime(2017, 11, 13, 10, 25, 28), '2017-11-14 04:15:40', None),
 (datetime.datetime(2017, 11, 13, 11, 41, 46), '2017-11-13 11:50:41', None),
 (datetime.datetime(2017, 11, 14, 7, 50, 39), '2017-11-14 08:06:24', None),
 (datetime.datetime(2017, 11, 14, 16, 47, 6), '2017-11-15 02:56:21', None),
 (datetime.datetime(2017, 11, 14, 19, 30, 10), '2017-11-14 19:50:28', None),
 (datetime.datetime(2017, 11, 14, 21, 58, 32), '2017-11-16 22:31:07', None),
 (datetime.datetime(2017, 11, 15, 7, 45, 44), '2017-11-15 07:55:26', None),
 (datetime.datetime(2017, 11, 15, 10, 7, 27), '2017-11-15 10:27:05', None),
 (datetime.datetime(2017, 11, 15, 10, 43, 14), '2017-11-15 10:56:12', None),
 (datetime.datetime(2017, 11, 18, 2, 39, 31), '2017-11-21 03:46:31', None),
 (datetime.datetime(2017, 11, 20, 12, 48, 37), None, None),
 (datetime.datetime(2017, 11, 20, 21, 36, 39), '2017-11-20 21:47:03', None),
 (datetime.datetime(2017, 11, 21, 13, 55, 8), '2017-11-21 15:50:58', None),
 (datetime.datetime(2017, 11, 21, 18, 20, 28), '2017-11-21 18:28:23', None),
 (datetime.datetime(2017, 11, 22, 19, 56, 37), '2017-11-22 20:26:11', None),

In [16]:
#def payment_types(main_table,agg_table):
#    """
#    """
#
#    req = """
#        select c.customer_unique_id,pa.payment_type,count(*) 
#        from customers c
#        join orders o  on c.customer_id = o.customer_id
#        join order_payments pa on pa.order_id = o.order_id
#        group by c.customer_unique_id,pa.payment_type
#        order by c.customer_unique_id    
#    """
#
#    agg = f"""{agg_table} as ({req})"""
#
#    return (agg,
#            list(
#            map( 
#                lambda payment_type : (
#                    f"select {agg_table}.count from {agg_table} where {agg_table}.payment_type = '{payment_type}' and {agg_table}.customer_unique_id = {main_table}.customer_unique_id",
#                    f'nb_{payment_type}'
#                ),
#                selected_payment_types()
#            )
#            )
#    )

#def payment_type_max_amount(main_table,agg_table):
#
#    req = """
#        select c.customer_unique_id,pa.payment_type,max(payment_value) 
#        from customers c
#        join orders o  on c.customer_id = o.customer_id
#        join order_payments pa on pa.order_id = o.order_id
#        group by c.customer_unique_id,pa.payment_type
#        order by c.customer_unique_id
#    """
#
#    
#
#    return (agg,
#            list(
#            map( 
#                lambda payment_type : (
#                    f"select {agg_table}.count from {agg_table} where {agg_table}.payment_type = '{payment_type}' and {agg_table}.customer_unique_id = {main_table}.customer_unique_id",
#                    f'nb_{payment_type}'
#                ),
#                selected_payment_types()
#            )
#            )
#    )

In [17]:
#payment types
def take(n,res):
    return list(map(lambda t: t[n],res))

def make_sub_reqs(agg_req,fields_reqs):
    def f (main_table,agg_table,histo_date):
        agg = f"{agg_table} as ({agg_req((histo_date,))})"
        return (
            agg,
            [ fields_req((agg_table,main_table)) for fields_req in fields_reqs]
        )

    return f

def build_req(*args,histo_date,limit=None):
    def make_args(*args,main_table):
        return list(zip(
                    args,
                    map(
                        lambda r: {'main_table':f'{main_table}','agg_table':f'agg_{str(r)}','histo_date':histo_date},
                        range(len(args))
                    )
                )
        )

    def join_sub_req(reqs):
        return ',\n'.join(map(lambda t: f"({t[0]}) as {t[1]}",reqs))
    
    def call_f(farg):
        f    = farg[0]
        args = farg[1]
        return f(**args) 

    # main request
    main_table = 'M'
    
    #generate sub queries
    fargs = make_args(*args, main_table = main_table)
    sub_reqs = list(map(lambda farg: call_f(farg),fargs))

    # Common table expressions
    ctes  =  "WITH\n" + ',\n'.join(take(0,sub_reqs)) + "\n"
    # fields
    fields   =  "\n" + join_sub_req(itertools.chain(*take(1,sub_reqs))) + "\n"
    #limits
    limits_e =  f'LIMIT {limit}' if limit is not None else ''

    return f"""
    {ctes} select {main_table}.c_customer_unique_id,{main_table}.c_customer_city,{main_table}.c_customer_state,{fields} from olist_view {main_table}
    where {main_table}.o_order_purchase_timestamp <= '{histo_date}'
    {limits_e}
    """

In [18]:
# configs = [(req_agg, [field_req(t)]]
# req_agg is an agregation request (that will be executed as a CTE)
# field_req a callable that: 
# -expects a tuple as parameter t[0]: name of the cte t[1]:name of the main table 
# -returns (req,field_name)
#  where req is a request that should join with the previous CTE
#        and  field_name is the feature name in the final Dataframe

def selected_payment_types():
    types = %sql select distinct payment_type from order_payments
    return list(filter(lambda p : p != 'not_defined',take(0,types)))

def make_payment_type(payment_type):
    return lambda t: (
        f"select {t[0]}.count from {t[0]} where {t[0]}.pa_payment_type = '{payment_type}' and {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id"
        ,
        f'nb_{payment_type}'
    )

configs = [ 
    (
    lambda t:
    f"""
        select c_customer_unique_id,pa_payment_type,count(*) 
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered' 
        group by c_customer_unique_id,pa_payment_type
    """,
        [ make_payment_type(payment_type) for payment_type in selected_payment_types() ]
    ),
    (
    lambda t:    
    f"""
        select t.c_customer_unique_id,t.pa_payment_type,max(t.sum) from (
		select c_customer_unique_id,pa_payment_type,sum(pa_payment_value)
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered' 
        group by c_customer_unique_id,pa_payment_type
	  ) t group by t.c_customer_unique_id,t.pa_payment_type
    """,
        [
            lambda t: (
                f"select {t[0]}.pa_payment_type from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"
                ,
                "payment_type_max"
            )
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,max(pa_payment_installments) as m1,max(pa_payment_sequential) as m2
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id
    """,
        [
            lambda t: (
                f"select {t[0]}.m1 from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id"
                ,
                "payment_installments_max"
            ),
            lambda t: (
                f"select {t[0]}.m2 from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id"
                ,
                "payment_sequential_max"
            )
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,sum(i_price+i_freight_value) as order_value
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id,i_order_id

    """,
        [
            lambda t: (
                f"select max({t[0]}.order_value) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"
                ,
                "order_value_max"
            ),
            lambda t: (
                f"select min({t[0]}.order_value) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"
                ,
                "order_value_min"
            ),
            lambda t: (
                f"select avg({t[0]}.order_value) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"
                ,
                "order_value_mean"
            ),
            lambda t: (
                f"select stddev_pop({t[0]}.order_value) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"
                ,
                "order_value_stddev"
            )
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,count(*)
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id
    """,
        [
            lambda t: (
                f"select {t[0]}.count from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id"
                ,
                "nb_orders"
            )
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,count(*)
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id,i_order_id
    """,
        [
            lambda t: (
                f"select avg({t[0]}.count) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id"
                ,
                "nb_items_order_avg"
            )
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,i_freight_value/i_price as r
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered' 
    """,
        [
            lambda t: (
                f"select max({t[0]}.r) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"
                ,
                "r_freight_price_max"
            )
        ]
    ),
    (
    lambda t:
    f"""
        select c_customer_unique_id,p_product_category_name,sum(i_price)
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id,p_product_category_name

    """,
        [
            lambda t: (
                f"""select {t[0]}.p_product_category_name from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id and
                {t[0]}.sum = (select max({t[0]}.sum) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1) 
                LIMIT 1
                """
                ,
                "product_cat_total_max"
            )
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,r_review_score
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered' and r_review_creation_date <= '{t[0]}' 
    """,
        [
            lambda t: (
                f"""select min({t[0]}.r_review_score) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "review_score_min"
            ),
            lambda t: (
                f"""select avg({t[0]}.r_review_score) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "review_score_avg"
            ),
            lambda t: (
                f"""select max({t[0]}.r_review_score) from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "review_score_max"
            )            
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,count(*)
        from olist_view
        where o_order_purchase_timestamp <= '{t[0]}' and o_order_status = 'cancel' 
        group by c_customer_unique_id
    """,
        [
            lambda t: (
                f"""select {t[0]}.count from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id"""
                ,
                "nb_orders_canceled"
            )      
        ]
    ), 
    (
    lambda t:    
    f"""
        select c_customer_unique_id,'{t[0]}'::date - min(o_order_purchase_timestamp)::date as R
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id
    """,
        [
            lambda t: (
                f"""select {t[0]}.R from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "nb_days_since_last_order"
            )      
        ]
    ),
    (
    lambda t:    
    f"""
        select v.c_customer_unique_id,sum(v.pa_payment_value)
        from olist_view v
        join (
            select c_customer_unique_id,max(o_order_delivered_customer_date)
            from olist_view
            where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
            group by c_customer_unique_id
        ) t on t.c_customer_unique_id = v.c_customer_unique_id
        where v.o_order_delivered_customer_date = t.max and v.o_order_status = 'delivered'    
        group by v.c_customer_unique_id
    """,
        [
            lambda t: (
                f"""select {t[0]}.sum from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "amount_last_order"
            )      
        ]
    ),
    (
    lambda t:    
    f"""
        select c_customer_unique_id,max(p_product_weight_g) as weight,max(p_product_length_cm*p_product_height_cm*p_product_width_cm) as volume
        from olist_view
        where o_order_delivered_customer_date <= '{t[0]}' and o_order_status = 'delivered'       
        group by c_customer_unique_id
    """,
        [
            lambda t: (
                f"""select {t[0]}.weight from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "weight_max"
            ),
            lambda t: (
                f"""select {t[0]}.volume from {t[0]} where {t[1]}.c_customer_unique_id = {t[0]}.c_customer_unique_id LIMIT 1"""
                ,
                "volume_max"
            )     
        ]
    ),         
]

 * postgresql://benj@localhost/olist
5 rows affected.

In [19]:
def dates_histo():
    raw_date = %sql select date_trunc('day',min(order_delivered_customer_date))+ INTERVAL '1 month',date_trunc('day',max(order_delivered_customer_date)) + INTERVAL '1 day' from orders
    for row in  raw_date:
        (min_date,max_date) = row
    return [dt for dt in rrule(MONTHLY, dtstart=min_date, until=max_date)] 

def generate_df(histo_date,limit=None):
    main_req = build_req(*list(map(lambda config:make_sub_reqs(*config), configs)),histo_date=histo_date,limit=limit)
    #print(main_req)
    r = %sql $main_req
    if r is not None:
        return r.DataFrame()

def generate_full_df(limit=None):
    d = dates_histo()[-1]
    return generate_df(d,limit=limit)

In [22]:

full_df = generate_full_df(limit=100)

 * postgresql://benj@localhost/olist
1 rows affected.
 * postgresql://benj@localhost/olist
100 rows affected.

Dataset complet